.bgimg{
    background-image: url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png);
    background-repeat: no-repeat;
    height: 700px;
    width: 500px;
    background-size: cover;
}