.bgimg{
    background-image: url(https://img.freepik.com/free-photo/fruit-pltter-with-mixed-summer-tropical-fruits_114579-2495.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
